.experience {
    padding-bottom: 130px;

  h4 {
    color: #f54c1e;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: 4.2px;
    padding-top: 130px;
  }
  h6 {
    color: #031333;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 53.2px */
  } 
  .meri {
    display: flex;
    justify-content: space-evenly;
  }
}
.carta {
    border: solid 2px #F5F5F5;
    border-radius: 15px;
    height: 520px;
    margin-top: 80px;
    div {
        padding: 26px 25px;
        h1 {
            color: #071440;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 120% */
        }
        p {
            color: #676972;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 100% */
            letter-spacing: -0.36px;
            padding-top: 15px;
        }
    }
}
